
hand_ranker/__pycache__/scores.cpython-38.pyc
hand_ranker/__pycache__/scores.cpython-39.pyc
expected_value/data.bin
expected_value/hands.csv
hands.csv
card_recognizer_ml/data/checkpoint
card_recognizer_ml/data/cp.ckpt.data-00000-of-00001
card_recognizer_ml/data/cp.ckpt.index
data.bin
starting_hands.bin
card_recognizer_ml/data/test/1.png
card_recognizer_ml/data/test/2.png
card_recognizer_ml/data/test/3.png
card_recognizer_ml/data/test/4.png
card_recognizer_ml/data/test/5.png
card_recognizer_ml/data/test/6.png
card_recognizer_ml/data/test/7.png
ocr/data/ocr.png
card_recognizer_ml/data/add_to_train/*
expected_value/data/combinations.bin
ocr/data/trigger
expected_value/data/input_hand
card_recognizer_ml/data/model1.tf.data-00000-of-00001
card_recognizer_ml/data/model1.tf.index
expected_value/data/simulated_hands.bin
hand_predictor_ml/data/ml_data.csv
hand_predictor_ml/data/ml_val.csv
hand_predictor_ml/data/model.tf/saved_model.pb
hand_predictor_ml/data/model.tf/variables/variables.data-00000-of-00001
hand_predictor_ml/data/model.tf/variables/variables.index