
hand_ranker/__pycache__/scores.cpython-38.pyc
hand_ranker/__pycache__/scores.cpython-39.pyc
expected_value/data.bin
expected_value/hands.csv
hands.csv
card_recognizer_ml/data/checkpoint
card_recognizer_ml/data/cp.ckpt.data-00000-of-00001
card_recognizer_ml/data/cp.ckpt.index
data.bin